body{
    background-color:aliceblue;
}

header{
    background-color: #b0b0f6;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
  }
  .grid-container2{
    display: grid;
    grid-template-columns: 1 auto auto;
    background-color: #2196F3;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  #keyboard{
      width:70vw;
      float:left;
  }
  #keyboard25{
    width:25vw;
    float:left;
  }